<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="/static/js/index.js"></script>-->
</head>
<body>
    <p>Select a new car from the list.</p>
    <select id="carID" onchange="carFunction()">
      <option value="Audi">Audi
      <option value="BMW">BMW
      <option value="Mercedes">Mercedes
      <option value="Volvo">Volvo
    </select>
    <p>When you select a new car, a function is triggered which outputs the value of the selected car.</p>
    <p id="demo"></p>

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}">
</script>
</body>
</html>